html{
    min-width: 650px;
    height: 100%;
    position: relative;
    font-family: sans-serif;
}

body{
    margin: 0 auto;
    height: 100%;
    background-color: #F5F5F5;
}
#app {
    min-height: 100%;
    background-color: rgba(245,245,245,0.7);
    background-repeat:no-repeat;
    background-position:center;
    background-attachment:fixed;
    background-size:cover;
}

main{
    background-color:rgba(245,245,245,0.7);
    height:100%;
    overflow-y: auto;
}

.nav-link.active{
    font-size:1.2em;
    line-height: 1.2em;
}
